////
/// Button.
///
/// @group  Base
/// @author Lee Anthony <seothemeswp@gmail.com>
/// @link   https://github.com/seothemes/genesis-starter-theme
////

$all-buttons: append($all-buttons, ".button");
$all-buttons: append($all-buttons, ".button.menu-item a");

$button-padding: $spacing-m * $minor-third $gutter !default;
$button-border: 0 !default;
$button-border-radius: $base-border-radius !default;
$button-color: $color-white !default;
$button-background: $color-primary !default;
$button-font-family: $base-font-family !default;
$button-font-size: $base-font-size / $major-second !default;
$button-font-weight: $font-weight-heading !default;
$button-border-hover: 0 !default;
$button-color-hover: $color-white !default;
$button-background-hover: $color-primary !default;
$button-disabled-opacity: 0.5 !default;
$button-disabled-background-color: $color-muted !default;
$button-small-padding: 1em 1.5em !default;
$button-small-font-size: small !default;
$button-outline-border: 1px solid $color-primary !default;
$button-outline-color: $color-primary !default;
$button-outline-background: transparent !default;
$button-outline-color-hover: $color-white !default;
$button-outline-background-hover: $color-primary !default;

////
/// Button
////

@mixin button {
	display: inline-block;
	width: auto;
	padding: $button-padding;
	border: $button-border;
	border-radius: $button-border-radius;
	color: $button-color;
	background-color: $button-background;
	font-family: $button-font-family;
	font-size: $button-font-size;
	font-weight: $button-font-weight;
	line-height: 1;
	text-align: center;
	white-space: normal;
	text-decoration: none;
	cursor: pointer;

	@include transition();

	@include hover-focus {
		outline: none;
		color: $button-color-hover;
		background-color: $button-background-hover;
		border: $button-border-hover;
		text-decoration: none;
	}

	&:disabled {

		&,
		&:hover,
		&:focus {
			opacity: $button-disabled-opacity;
			background-color: $button-disabled-background-color;
			cursor: not-allowed;
		}
	}

	&.small {
		padding: $button-small-padding;
		font-size: $button-small-font-size;
	}

	&.rounded {
		border-radius: 100rem;
	}

	&.outline {
		border: $button-outline-border;
		color: $button-outline-color;
		background: $button-outline-background;

		@include hover-focus {
			color: $button-outline-color-hover;
			background: $button-outline-background-hover;
		}
	}

	&.fa,
	&.fab,
	&.fas {
		display: inline-flex;
		font-family: $button-font-family;
		font-weight: $button-font-weight;

		&:before {
			display: inline-block;
			margin-right: $spacing-s;
			font-family: "Font Awesome 5 Pro", sans-serif;
			font-style: normal;
			font-variant: normal;
			line-height: 1;
			text-rendering: auto;
		}
	}

	&.icon-right {

		&:before {
			order: 1;
			margin-right: 0;
			margin-left: $spacing-s;
		}
	}
}

#{$all-buttons} {

	@include button;
}
