////
/// Typography.
///
/// @group  Base
/// @author Lee Anthony <seothemeswp@gmail.com>
/// @link   https://github.com/seothemes/genesis-starter-theme
////

$blockquote__padding: $gap !default;
$blockquote__border-left: $base--border !default;
$blockquote__background-color: transparent !default;
$link__text-decoration--hover: underline !default;

body {
	height: 100%;
	margin: 0;
	color: $color--text;
	background-color: $color--white;
	font-family: $base--font-family;
	font-size: $base--font-size;
	font-weight: $base--font-weight;
	line-height: $base--line-height;

	@include mq(m) {
		font-size: $base--font-size * strip-unit(map_get($font-sizes, h6));
	}
}

a {
	color: $color--primary;
	text-decoration: none;

	@include transition();

	@include hover-focus {
		color: $color--primary;
		text-decoration: $link__text-decoration--hover;
	}
}

p {
	margin: 0 0 $spacing--m;
	padding: 0;

	&:empty {
		display: none;
	}
}

hr {
	clear: both;
	margin: 0 0 $spacing--m;
	padding: $spacing--m 0 0;
	border: 0;
	border-bottom: $base--border;
	border-collapse: collapse;
}

b,
strong {
	font-weight: $font-weight--bold;
}

blockquote,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	border-left: $blockquote__border-left;
	background-color: $blockquote__background-color;

	@include margin($spacing--m auto);
	@include padding($blockquote__padding);

	p {
		padding: $spacing--s 0;

		&:last-of-type {
			margin-bottom: 0;
		}
	}
}

cite {
	display: block;
	font-weight: bolder;
	font-style: normal;
	font-family: $font-family--heading;
}

code,
kbd,
samp {
	padding: 0.05em 0.5em;
	border-radius: $base--border--radius;
	background-color: $color--light;
	font-family: $font-family--code;
	font-size: 90%;
}

pre {
	overflow-x: scroll;
	padding: $spacing--m;
	border-radius: $base--border--radius;
	background-color: $color--light;
	font-family: $font-family--code;

	code,
	kbd,
	samp {
		padding: 0;
		background-color: transparent;
		font-size: 90%;
	}
}

code.hljs {
	background: transparent;
}
