////
/// Typography.
///
/// @group  Base
/// @author Lee Anthony <seothemeswp@gmail.com>
/// @link   https://github.com/seothemes/genesis-starter-theme
////


$link-color: $color-primary !default;
$link-text-decoration: none !default;
$link-color-hover: $color-primary !default;
$link-text-decoration-hover: underline !default;
$paragraph_margin: 0 0 $spacing-m !default;
$horizontal-rule-margin: 0 0 $spacing-m !default;
$horizontal-rule-padding: $spacing-m 0 0 !default;
$horizontal-rule-border: $base-border !default;
$strong-font-weight: $font-weight-bold !default;
$emphasis-font-style: italic !default;
$blockquote-margin: $spacing-m auto !default;
$blockquote-padding: $gap !default;
$blockquote-border-left: $base-border !default;
$blockquote-background-color: transparent !default;
$blockquote-font-style: italic !default;
$blockquote-paragraph-padding: $spacing-s 0 !default;
$cite-font-weight: bolder !default;
$cite-font-style: normal !default;
$cite-font-family: $font-family-heading !default;
$code-padding: 0.05em 0.5em !default;
$code-border-radius: $base-border-radius !default;
$code-background-color: $color-background !default;
$code-font-family: $font-family-code !default;
$code-font-size: 90% !default;
$preformatted-padding: $spacing-m !default;

body {
	height: 100%;
	margin: 0;
	color: $color-body;
	background-color: $color-white;
	font-family: $base-font-family;
	font-size: $base-font-size;
	font-weight: $base-font-weight;
	line-height: $base-line-height;

	@include mq(m) {
		font-size: $base-font-size * strip-unit(map_get($font-sizes, h6));
	}
}

a {
	color: $link-color;
	text-decoration: $link-text-decoration;

	@include transition();

	@include hover-focus {
		color: $link-color-hover;
		text-decoration: $link-text-decoration-hover;
	}
}

p {
	margin: $paragraph_margin;

	&:empty {
		display: none;
	}
}

hr {
	clear: both;
	margin: $horizontal-rule-margin;
	padding: $horizontal-rule-padding;
	border: 0;
	border-bottom: $horizontal-rule-border;
	border-collapse: collapse;
}

b,
strong {
	font-weight: $strong-font-weight;
}

em,
i {
	font-style: $emphasis-font-style;
}

blockquote {
	border-left: $blockquote-border-left;
	background-color: $blockquote-background-color;
	font-style: $blockquote-font-style;

	@include margin($blockquote-margin);
	@include padding($blockquote-padding);

	p {
		padding: $blockquote-paragraph-padding;

		&:last-of-type {
			margin-bottom: 0;
		}
	}
}

cite {
	display: block;
	font-weight: $cite-font-weight;
	font-style: $cite-font-style;
	font-family: $cite-font-family;
}

code,
kbd,
samp {
	padding: $code-padding;
	border-radius: $code-border-radius;
	background-color: $code-background-color;
	font-family: $code-font-family;
	font-size: $code-font-size;
}

pre {
	overflow-x: scroll;
	padding: $preformatted-padding;
	border-radius: $code-border-radius;
	background-color: $code-background-color;
	font-family: $code-font-family;

	code,
	kbd,
	samp {
		padding: 0;
		background-color: transparent;
		font-size: $code-font-size;
	}
}

code.hljs {
	background: transparent;
}
