////
/// Custom extends.
///
/// @group  Tools
/// @author Lee Anthony <seothemeswp@gmail.com>
/// @link   https://github.com/seothemes/genesis-starter-theme
////

////
/// Button
////

@mixin button {
	display: inline-block;
	width: auto;
	padding: $button--padding;
	border: $button--border;
	border-radius: $button--border-radius;
	color: $button--color;
	background-color: $button--background;
	font-family: $button--font-family;
	font-size: $button--font-size;
	font-weight: $button--font-weight;
	line-height: 1;
	text-align: center;
	white-space: normal;
	text-decoration: none;
	cursor: pointer;

	@include transition();

	@include hover-focus {
		outline: none;
		color: $button--color--hover;
		background-color: $button--background--hover;
		border: $button--border--hover;
		text-decoration: none;
	}

	&:disabled {

		&,
		&:hover,
		&:focus {
			opacity: 0.5;
			background-color: $color--muted;
			cursor: not-allowed;
		}
	}

	&.small {
		padding: 1em 1.5em;
		font-size: small;
	}

	&.rounded {
		border-radius: 10rem;
	}

	&.outline {
		border: $button--outline--border;
		color: $button--outline--color;
		background: $button--outline--background;

		@include hover-focus {
			color: $button--outline--color--hover;
			background: $button--outline--background--hover;
		}
	}

	&.fa,
	&.fab,
	&.fas {
		display: inline-flex;
		font-family: $button--font-family;
		font-weight: $button--font-weight;

		&:before {
			display: inline-block;
			margin-right: $spacing--s;
			font-family: "Font Awesome 5 Pro", sans-serif;
			font-style: normal;
			font-variant: normal;
			line-height: 1;
			text-rendering: auto;
		}
	}

	&.icon-right {

		&:before {
			order: 1;
			margin-right: 0;
			margin-left: $spacing--s;
		}
	}
}
