////
/// Avatar component.
///
/// @group  Components
/// @author Lee Anthony <seothemeswp@gmail.com>
/// @link   https://github.com/seothemes/genesis-starter-theme
////

$avatar-float: left !default;
$avatar-margin-right: $spacing-m !default;
$avatar-border-radius: $base-border-radius !default;

.avatar {
	float: $avatar-float;
	margin-right: $avatar-margin-right;
	border-radius: $avatar-border-radius;
}
