////
/// Breadcrumb component.
///
/// @group  Components
/// @author Lee Anthony <seothemeswp@gmail.com>
/// @link   https://github.com/seothemes/genesis-starter-theme
////

$breadcrumb-margin: 0 0 $spacing-m !default;

.breadcrumb {
	width: 100%;
	margin: $breadcrumb-margin;

	// Link wrapper.
	&-link-wrap {}

	// Breadcrumb separator.
	&-separator {}
}
