////
/// Entry component.
///
/// @group  Components
/// @author Lee Anthony <seothemeswp@gmail.com>
/// @link   https://github.com/seothemes/genesis-starter-theme
////

$entry-margin-bottom: $gutter !default;
$entry-border-radius: $base-border-radius !default;
$entry-background-color: $color-white !default;
$entry-border: $base-border !default;
$entry-title-font-size: $font-size-h4 !default;
$entry-meta-font-size: smaller !default;
$entry-image-border-radius: $base-border-radius $base-border-radius 0 0 !default;
$entry-wrap-padding: $gap !default;

.entry {

	.featured-content &,
	.is-archive & {
		margin-bottom: $entry-margin-bottom;
		border: $entry-border;
		border-radius: $entry-border-radius;
		background-color: $entry-background-color;

		&:last-of-type {

			@include mq($until: xs) {
				margin-bottom: 0;
			}
		}
	}

	// Entry header.
	&-header {
	}

	// Entry title.
	&-title {

		.featured-content &,
		.is-archive & {
			font-size: $entry-title-font-size;
		}

		a {
			color: $color-heading;

			@include hover-focus {
				color: $link-color-hover;
				text-decoration: $link-text-decoration-hover;
			}
		}
	}

	// Entry title link.
	&-title-link {
	}

	// Entry time.
	&-time {
	}

	// Entry author.
	&-author {
	}

	// Entry author link.
	&-author-link {
	}

	// Entry author name.
	&-author-name {
	}

	// Entry comments link
	&-comments-link {
	}

	// Entry meta.
	&-meta {
		font-size: $entry-meta-font-size;
	}

	// Entry image link.
	&-image-link {
		display: block;

		img {
			min-width: 100%;
			border-radius: $entry-image-border-radius;
		}
	}

	// Entry content.
	&-content {

		p {

			&:last-of-type {

			}
		}
	}

	// Entry footer.
	&-footer {

		p {

			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}

	// Entry categories.
	&-categories {
	}

	// Entry tags.
	&-tags {
	}

	// Entry wrap.
	&-wrap {
		padding: $entry-wrap-padding;
	}
}

// More link.
.more-link {
}
