////
/// Featured Content component.
///
/// @group  Components
/// @author Lee Anthony <seothemeswp@gmail.com>
/// @link   https://github.com/seothemes/genesis-starter-theme
////

$featured-content-margin-bottom: $spacing-m !default;

.featured-content {
	margin-bottom: $featured-content-margin-bottom;

	.widget-wrap {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.widget-title {
		width: 100%;
	}

	.entry {
		width: 100%;

		> a {
			display: block;

			img {
				min-width: 100%;
				border-radius: $entry-image-border-radius;
			}
		}

		> span {
			display: none;
		}
	}
}
