////
/// Footer credits component.
///
/// @group  Components
/// @author Lee Anthony <seothemeswp@gmail.com>
/// @link   https://github.com/seothemes/genesis-starter-theme
////

$footer-credits-padding-bottom: $gutter !default;
$footer-credits-font-size: $base-font-size / $major-second !default;
$footer-credits-background-color: transparent !default;
$footer-credits-color: $color-body !default;
$footer-credits-link-color: $color-primary !default;
$footer-credits-link-color-hover: $color-primary !default;

.footer-credits {
	padding-bottom: $footer-credits-padding-bottom;
	font-size: $footer-credits-font-size;
	color: $footer-credits-color;
	background-color: $footer-credits-background-color;

	p {
		margin-bottom: 0;
		width: 100%;
	}

	a {
		color: $footer-credits-link-color;

		@include hover-focus {
			color: $footer-credits-link-color-hover;
		}
	}
}
