////
/// Front page component.
///
/// @group  Components
/// @author Lee Anthony <seothemeswp@gmail.com>
/// @link   https://github.com/seothemes/genesis-starter-theme
////

$front-page-widget-area__padding--desktop: $spacing--xxl !default;
$front-page-widget-area__border-bottom: $base--border !default;
$front-page-1__spacing--desktop: $spacing--xxxl !default;
$front-page-3__background-color: transparent !default;
$front-page-4__padding--desktop: $front-page-widget-area__padding--desktop !default;
$front-page-5__background-color: $color--background !default;
$front-page-6__background-color: $color--background !default;

[src*="placeholder.com"] {
	padding: $spacing--xxs;
	border: $base--border;
	border-radius: $base--border--radius;
}

[class*="front-page-"] {
	position: relative;
	width: 100%;
	padding: $spacing--xl 0 $spacing--xl - $gutter;
	border-bottom: $front-page-widget-area__border-bottom;

	@include mq(m) {
		padding: $front-page-widget-area__padding--desktop 0 $front-page-widget-area__padding--desktop - $gutter;
	}

	&:last-of-type {
		border-bottom: 0;
	}
}

.front-page {

	&-1 {
		padding: $spacing--xxl 0 $spacing--xxl - $gap;

		@include mq(m) {

			@include padding($front-page-1__spacing--desktop 0 $front-page-1__spacing--desktop - $gap);
		}
	}

	&-3 {
		background-color: $front-page-3__background-color;
	}

	&-4 {

		@include mq(m) {
			padding: $front-page-4__padding--desktop 0 $front-page-4__padding--desktop - $gutter
		}
	}

	&-5 {
		padding: $spacing--xl 0 $spacing--xl - $gutter;
		background-color: $front-page-5__background-color;
	}

	&-6 {
		background-color: $front-page-6__background-color;
	}
}
