////
/// Front page component.
///
/// @group  Components
/// @author Lee Anthony <seothemeswp@gmail.com>
/// @link   https://github.com/seothemes/genesis-starter-theme
////

$front-page-widget-area-padding-mobile: $spacing-xl 0 $spacing-xl - $gutter !default;
$front-page-widget-area-padding-desktop: $spacing-xxl 0 $spacing-xxl - $gutter !default;
$front-page-widget-area-border-bottom: $base-border !default;
$front-page-1-padding-mobile: $spacing-xxl 0 $spacing-xxl - $gap !default;
$front-page-1-padding-desktop: $spacing-xxxl 0 $spacing-xxxl - $gap !default;

[class^="front-page-"] {
	position: relative;
	width: 100%;
	padding: $front-page-widget-area-padding-mobile;
	border-bottom: $front-page-widget-area-border-bottom;

	@include mq(m) {
		padding: $front-page-widget-area-padding-desktop;
	}

	&:last-of-type {
		border-bottom: 0;
	}
}

.front-page {

	&-1 {
		padding: $front-page-1-padding-mobile;

		@include mq(m) {

			@include padding($front-page-1-padding-desktop);
		}

		.has-home-slider & {
			display: block;
			padding: 0;
		}

		@include front-page-1()
	}

	&-2 {

		@include front-page-2()
	}

	&-3 {

		@include front-page-3()
	}

	&-4 {

		@include front-page-4;
	}

	&-5 {

		@include front-page-5;
	}

	&-6 {

		@include front-page-6;
	}

	&-7 {

		@include front-page-7;
	}

	&-8 {

		@include front-page-8;
	}

	&-9 {

		@include front-page-9;
	}
}
