////
/// Hero section component.
///
/// @group  Components
/// @author Lee Anthony <seothemeswp@gmail.com>
/// @link   https://github.com/seothemes/genesis-starter-theme
////

@mixin hero-section {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: $hero-section__padding--mobile;
	border-bottom: $base--border;
	background-position: center;
	background-size: cover;
	text-align: center;
	color: $hero-section__color;

	@include overlay;

	@include mq(m) {

		padding: $hero-section__padding--desktop;
	}

	.wrap {
		justify-content: center;
		position: relative;
	}

	h1 {
		width: 100%;
		margin-bottom: 0;
		color: $hero-heading__color;
		font-size: $hero-heading__font-size;
	}

	p {
		margin-top: $spacing--m;
		margin-bottom: 0;
	}
}

.hero-section {

	@include hero-section;
}
