////
/// Menu component.
///
/// @group  Components
/// @author Lee Anthony <seothemeswp@gmail.com>
/// @link   https://github.com/seothemes/genesis-starter-theme
////

$menu__font-family: $base--font-family !default;
$menu__font-weight: $base--font-weight !default;
$menu__font-size: $base--font-size / $major-second !default;
$menu-item-link__color: $color--text !default;
$menu-item-link__color--hover: $color--primary !default;

// Menu
.menu {
	margin: 0;
	list-style-type: none;
	font-family: $menu__font-family;
	font-weight: $menu__font-weight;

	@include mq(m) {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-end;
		align-items: center;
		border: 0;
		font-size: $menu__font-size;
	}

	// Menu item.
	&-item {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		padding: $spacing--xs 0;

		@include margin(null auto);

		@include mq(m) {
			display: block;
			margin: 0;
			padding: $spacing--m $spacing--s * $golden;

			&:last-of-type {
				padding-right: 0;
			}

			&:first-of-type {
				padding-left: 0;
			}
		}

		&-has-children {

			> a > span {

				&:after {

					@include mq(m) {
						content: '';
						display: inline-block;
						margin-left: 0.3em;
						margin-bottom: 0.1em;

						@include transition;
						@include triangle("down", $spacing--xs, $spacing--xxs, $menu-item-link__color);
					}
				}
			}
		}

		&.button {
			padding: 0;

			@include mq(m) {
				margin-left: $spacing--m;
			}
		}
	}

	// Link
	a {
		display: block;
		width: 100%;
		color: $menu-item-link__color;
		text-decoration: none;
	}

	a:hover,
	a:focus,
	.current-menu-item > a {
		color: $menu-item-link__color--hover;

		span {

			&:after {
				border-top-color: $menu-item-link__color--hover;
			}
		}
	}
}
