////
/// Menu component.
///
/// @group  Components
/// @author Lee Anthony <seothemeswp@gmail.com>
/// @link   https://github.com/seothemes/genesis-starter-theme
////

$menu-font-family: $base-font-family !default;
$menu-font-weight: $base-font-weight !default;
$menu-font-size-desktop: $base-font-size / $major-second !default;
$menu-line-height: 1 !default;
$menu-item-padding-mobile: $spacing-m 0 !default;
$menu-item-padding-desktop: $spacing-m $spacing-s * $golden !default;
$menu-item-margin-mobile: null auto !default;
$menu-item-margin-desktop: 0 !default;
$menu-item-link-color: $color-body !default;
$menu-item-link-color-hover: $color-primary !default;

// Menu
.menu {
	margin: 0;
	list-style-type: none;
	font-family: $menu-font-family;
	font-weight: $menu-font-weight;
	line-height: $menu-line-height;

	@include mq(m) {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-end;
		align-items: center;
		border: 0;
		font-size: $menu-font-size-desktop;
	}

	// Menu item.
	&-item {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		padding: $menu-item-padding-mobile;
		position: relative;

		@include margin($menu-item-margin-mobile);

		@include mq(m) {
			display: block;
			margin: $menu-item-margin-desktop;
			padding: $menu-item-padding-desktop;

			&:last-of-type {
				padding-right: 0;
			}

			&:first-of-type {
				padding-left: 0;
			}
		}

		&-has-children {

			> a > span {

				&:after {

					@include mq(m) {
						content: '';
						display: inline-block;
						margin-left: 0.3em;
						margin-bottom: 0.1em;

						@include transition;
						@include triangle("down", $spacing-xs, $spacing-xxs, $menu-item-link-color);
					}
				}
			}
		}

		&.button {
			padding: 0;

			@include mq(m) {
				margin-left: $spacing-m;
			}
		}
	}

	// Link
	a {
		display: block;
		width: 100%;
		color: $menu-item-link-color;
		text-decoration: none;
	}

	a:hover,
	a:focus,
	.current-menu-item > a {
		color: $menu-item-link-color-hover;

		span {

			&:after {
				border-top-color: $menu-item-link-color-hover;
			}
		}
	}
}
