////
/// Sticky header component.
///
/// @group  Components
/// @author Lee Anthony <seothemeswp@gmail.com>
/// @link   https://github.com/seothemes/genesis-starter-theme
////

$sticky-header__background-color: $color--white !default;
$sticky-header__border-bottom: $base--border !default;

.sticky-header {

	.site-header {
		position: fixed;

		@include transition;

		&.sticky {
			border-bottom: $sticky-header__border-bottom;
			background-color: $sticky-header__background-color;
		}
	}

	.hero-section {

		.wrap {
			margin-top: $spacing--xxl;
		}
	}
}
