////
/// Terms filter component.
///
/// @group  Components
/// @author Lee Anthony <seothemeswp@gmail.com>
/// @link   https://github.com/seothemes/genesis-starter-theme
////

$terms-filter-alignment: center !default;
$terms-filter-padding: $gutter 0 !default;
$terms-filter-background-color: $color-background !default;
$terms-filter-border-bottom: $base-border !default;
$terms-filter-link-padding: 0 $spacing-s !default;
$terms-filter-link-background-color: transparent !default;
$terms-filter-link-color: $color-body !default;
$terms-filter-link-color-hover: $color-primary !default;
$terms-filter-link-font-family: $base-font-family !default;
$terms-filter-link-font-size: $base-font-size !default;

.terms-filter {
	width: 100%;
	display: flex;
	justify-content: $terms-filter-alignment;
	padding: $terms-filter-padding;
	background-color: $terms-filter-background-color;
	border-bottom: $terms-filter-border-bottom;

	a {
		padding: $terms-filter-link-padding;
		background-color: $terms-filter-link-background-color;
		font-family: $terms-filter-link-font-family;
		font-size: $terms-filter-link-font-size;
		color: $terms-filter-link-color;

		@include hover-focus {
			color: $terms-filter-link-color-hover;
		}
	}
}

.entry {
	@include transition;

	&.hide {
		position: absolute;
		opacity: 0;
		transform: scale(0.1);
	}
}
