////
/// Title area component.
///
/// @group  Components
/// @author Lee Anthony <seothemeswp@gmail.com>
/// @link   https://github.com/seothemes/genesis-starter-theme
////

$site-title__font-size: 1em !default;
$site-title__font-family: $font-family--heading !default;
$site-title__color: $color--text !default;
$site-title__color--hover: $color--primary !default;
$site-description__color: $color--text !default;

// Title area.
.title-area {
	line-height: $line-height--heading;

	@include padding($spacing--m null);

	@include mq(m) {

		@include padding($gap null);
	}
}

// Site title.
.site-title {
	margin: 0;
	font-size: $site-title__font-size;
	font-weight: $font-weight--semibold;
	font-family: $site-title__font-family;

	.wp-custom-logo & {

		@include hide-visually;
	}

	a {
		color: $site-title__color;

		@include hover-focus {
			color: $site-title__color--hover;
		}
	}
}

// Site description.
.site-description {
	margin: 0;
	font-size: small;
	color: $site-description__color;

	.wp-custom-logo & {

		@include hide-visually;
	}
}

// Custom logo.
.custom-logo {
	width: auto;

	&-link {
		display: flex;
		align-items: center;
	}
}
