////
/// Widget component.
///
/// @group  Components
/// @author Lee Anthony <seothemeswp@gmail.com>
/// @link   https://github.com/seothemes/genesis-starter-theme
////

$widget-title__font-size: $font-size--h5 !default;

.widget {
	margin-bottom: $gutter;

	// Widget wrapper.
	&-wrap {}

	// Widget title.
	&-title {
		font-size: $widget-title__font-size;
		margin-bottom: $spacing--m;
	}

	p {

		&:last-of-type {
			margin-bottom: 0;
		}
	}
}
