////
/// Site footer object.
///
/// @group  Objects
/// @author Lee Anthony <seothemeswp@gmail.com>
/// @link   https://github.com/seothemes/genesis-starter-theme
////

$site-footer-border-top: $base-border !default;

.site-footer {
	margin-top: auto;
	border-top: $site-footer-border-top;
}
