////
/// Site header object.
///
/// @group  Objects
/// @author Lee Anthony <seothemeswp@gmail.com>
/// @link   https://github.com/seothemes/genesis-starter-theme
////

$site-header-background-color: $color-white !default;
$site-header-border-bottom: $base-border !default;

.site-header {
	position: relative;
	z-index: 10;
	border-bottom: $site-header-border-bottom;
	background-color: $site-header-background-color;

	.wrap {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;

		@include mq(m) {
			flex-wrap: nowrap;
		}
	}
}
