////
/// Site inner object.
///
/// @group  Objects
/// @author Lee Anthony <seothemeswp@gmail.com>
/// @link   https://github.com/seothemes/genesis-starter-theme
////

$site-inner-margin-top-no-hero-mobile: $spacing-xl * $perfect-fifth !default;
$site-inner-margin-top-no-hero-desktop: $spacing-xxl !default;

.site-inner {

	@include mq(m) {
		display: flex;
		flex: 1;
		flex-direction: column;
	}

	.no-hero-section.transparent-header &,
	.no-hero-section.sticky-header & {
		margin-top: $site-inner-margin-top-no-hero-mobile;

		@include mq(m) {
			margin-top: $site-inner-margin-top-no-hero-desktop;
		}
	}
}
