////
/// Business Pro variables.
///
/// @group  Themes
/// @author Lee Anthony <seothemeswp@gmail.com>
/// @link   https://github.com/seothemes/genesis-starter-theme
////

$base-font-family: hind, $font-stack-system;
$font-family-heading: montserrat, $font-stack-system;

$button-font-family: $font-family-heading;

$input-placeholder-color: $color-muted;
$input-border-color: $color-muted;

$link-text-decoration-hover: none;

$blockquote-padding: $gutter;
$blockquote-border-left: 0;
$blockquote-background-color: $color-white;

$site-header-background-color: $color-heading;
$site-header-border-bottom: 0;

$sticky-header-background-color: $color-heading;
$sticky-header-border-bottom: 0;

$site-title-color: $color-white;
$site-description-color: $color-white;

$nav-primary-background-color-mobile: $color-heading;

$menu-font-family: $font-family-heading;
$menu-font-weight: $font-weight-heading;
$menu-font-size: 0.75em;
$menu-item-link-color: $color-border;
$menu-item-link-color-hover: $color-white;

$sub-menu-border: 0;
$sub-menu-border-radius: 4px;

$menu-toggle-line-background-color: $color-white;

$sub-menu-toggle-icon-background-color: $color-white;

$hero-section-color: $color-white;
$hero-heading-color: $color-white;
$hero-heading-font-size-desktop: 5.4rem;

$front-page-widget-area-padding-desktop: $spacing-xxl * $minor-third 0 $spacing-xxl * $minor-third - $gutter;
$front-page-widget-area-border-bottom: 0;

$terms-filter-border-bottom: 0;
$terms-filter-link-font-family: $font-family-heading;
$terms-filter-link-font-size: smaller;

$entry-border: 0;
$entry-title-font-size: $font-size-h6;

$pagination-border-top: 0;
$pagination-font-family: $font-family-heading;

$before-footer-padding: $spacing-xxl 0 $spacing-xxl - $gutter;
$before-footer-border-bottom: 0;
$before-footer-background-color: transparent;
$before-footer-color: $color-white;
$before-footer-title-font-size: $font-size-h3;

$footer-widgets-padding: $spacing-xxl 0 $spacing-xxl - $gutter;
$footer-widgets-background-color: $color-heading;
$footer-widgets-color: $color-muted;
$footer-widgets-title-color: $color-white;
$footer-widgets-title-font-size: $base-font-size;
$footer-widgets-link-color: $color-muted;
$footer-widgets-link-color-hover: $color-white;
$footer-widgets-input-background-color: transparent;

$footer-credits-padding-bottom: $spacing-xl;
$footer-credits-background-color: $color-heading;
$footer-credits-color: $color-muted;
$footer-credits-link-color: $color-muted;
$footer-credits-link-color-hover: $color-white;
