////
/// Image classes.
///
/// @group  Utilities
/// @author Lee Anthony <seothemeswp@gmail.com>
/// @link   https://github.com/seothemes/genesis-starter-theme
////

.background-image {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	margin: auto;
	object-fit: contain;
	object-position: center;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: -1;

	div,
	img {
		display: flex;
		align-items: center;
		justify-content: center;
		object-fit: cover;
		object-position: center;

		@include size(100%);
	}
}
